body{
    margin: 0px;    
    font-family: 'Lucida Console', sans-serif;
    
    }
    
    header {background-color: #003366;
       
        padding: 6px;
    
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
    }
    
    .logotxt{
        position: absolute;
        top: px; ;
        left: 60px;
        right: ; ;
        bottom: 20px;; ;
        padding: px; 
    }
    
    .barra{
    color: #ffffff;
        position: relative;
        top: -45px;;
        left: ;
        right: ; ;
        bottom: px;; ;
        padding: px;
    
    }
    header a {
    
    text-decoration: none;
    color: #ffffff;
    }
    
    ul li {
        display: inline;
    }
    
    ul {
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 10px;
    }
    
    body {
        margin-top: 2.5em;
        background-color: #001F3D;
    }
    
    main{margin: 0em;}
    
    .separator {
        color: #ffffff;
        padding: 0 10px;
        }
        .footer {
            background-color: #003366;
            padding: 1em 0;
            text-align: center;
            margin-top: auto;
            position: absolute;
            bottom: 0;
            width: 100%;
            }
            
            .footer-row{
                display: flex;
                flex-wrap: wrap;
            }
            
            
            .footerimg{
              top: ;
                left: ;
                right: ; 
                bottom:; 
                padding: 
            
            }
            
            .copy{
                display: flex;
                justify-content: center;
                position: relative;
                top: ;
                left: 700px; ;
                right: ; 
                bottom:; 
                padding: 
            }
            
            .icons{
                display: flex;
                justify-content: center;
                position: relative;
                top: 100px; ;
                left: 1200px; ;
                right: ; 
                bottom:; 
                padding:;
                width: 10px;
                height: 100px;
            }

            .fieldset{
                padding: 100px;
                color: #ffffff;
            }
            .form_container{
                margin-top: 3em;
                display: grid;
                gap: 2.5;
            }
            .h1{
                color: #ffffff;
                display: flex;
                justify-content: center;
                font-size: xx-large;
          
               
            }