body{
    margin: 0px;    
    font-family: 'Lucida Console', sans-serif;
    
    }
    
    header {background-color: #003366;
       
        padding: 6px;
    
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
    }
    
    .logotxt{
        position: absolute;
        top: px; ;
        left: 60px;
        right: ; ;
        bottom: 20px;; ;
        padding: px; 
    }
    
    .barra{
    color: #ffffff;
        position: relative;
        top: -45px;;
        left: ;
        right: ; ;
        bottom: px;; ;
        padding: px;
    
    }
    header a {
    
    text-decoration: none;
    color: #ffffff;
    }
    
    ul li {
        display: inline;
    }
    
    ul {
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 10px;
    }
    
    body {
        margin-top: 2.5em;
        background-color: #001F3D;
    }
    
    main{margin: 0em;}
    
    .separator {
        color: #ffffff;
        padding: 0 10px;
        }

        .footer {
            background-color: #003366;
            padding: 1em 0;
            text-align: center;
            margin-top: auto;
            }
            
            .footer-row{
                display: flex;
                flex-wrap: wrap;
            }

